@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #a855f7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /*background: var(--background);*/
  /*color: var(--foreground);*/
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .payload-richtext ul {
@apply list-disc list-inside;
  }

  .payload-richtext ol {
@apply list-decimal list-inside;
  }

  .payload-richtext a {
@apply text-purple-500 hover:text-purple-600;
  }

    /* Headings */
  .payload-richtext h1 {
    @apply text-4xl leading-tight font-bold mt-8 mb-6 scroll-mt-[100px];
  }

  .payload-richtext h2 {
    @apply text-3xl leading-tight font-semibold mt-8 mb-5 scroll-mt-[100px];
  }

  .payload-richtext h3 {
    @apply text-2xl leading-snug font-semibold mt-7 mb-4 scroll-mt-[100px];
  }

  .payload-richtext h4 {
    @apply text-xl leading-snug font-semibold mt-6 mb-4 scroll-mt-[100px];
  }

  .payload-richtext h5 {
    @apply text-lg leading-normal font-semibold mt-5 mb-3 scroll-mt-[100px];
  }

  .payload-richtext h6 {
    @apply text-base leading-normal font-semibold mt-4 mb-3 scroll-mt-[100px];
  }
}